.note {
    position: relative;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    padding: 0.75rem;
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.48);
}

.content {
    position: relative;
}

.content h4 {
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
}

.content p {
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: left;
    color: #fff;
    margin-top: 0.7rem;
    overflow: -moz-hidden-unscrollable;
}

.footnote {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-block: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: height, opacity 0.5s ease;
}

.footnote em {
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.5s ease;    
}

.note:hover .footnote {
    opacity: 1;
    height: 1rem;
}

